.fz-small-9 {
  font-size: 24rpx;
  transform: scale(0.9);
  letter-spacing: 2rpx;
}
.fz-small-8 {
  font-size: 24rpx;
  transform: scale(0.8);
  letter-spacing: 2rpx;
}

.bg-icon {
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}